<mat-toolbar color="primary" class="mat-elevation-z8">
  Deliberations
</mat-toolbar>
<div>
  <div class="left">

    <a mat-flat-button color="primary" (click)="autoGen()">Auto Gen</a>
    &nbsp;
    <a mat-flat-button color="primary" [routerLink]="'/admin/deliberations-form/0'">Add</a>
    &nbsp;
    <a [disabled]="!selectedItem" mat-flat-button color="accent"
      [routerLink]="'/admin/deliberations-form/'+selectedItem?.id">Edit</a>
    &nbsp;
    <button [disabled]="!selectedItem" mat-flat-button color="warn" (click)="remove(selectedItem)">Delete</button>
    &nbsp;
    <mat-form-field>
      <input matInput #search placeholder="search">
    </mat-form-field>
  </div>
  <table mat-table class="full-width-table" matSort aria-label="Elements">

    <!-- Unit 1 Column -->
    <ng-container matColumnDef="unit1">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Unit 01</th>
      <td mat-cell *matCellDef="let row">{{row.unit1}}</td>
    </ng-container>

    <!-- Avg  Column -->
    <ng-container matColumnDef="avg">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Avg</th>
      <td mat-cell *matCellDef="let row">{{((row.unit1 + row.unit2 + row.unit3)/3).toFixed(2)}}</td>
    </ng-container>

    <!-- Unit 2 Column -->
    <ng-container matColumnDef="unit2">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Unit 02</th>
      <td mat-cell *matCellDef="let row">{{row.unit2}}</td>
    </ng-container>

    <!-- Unit 3 Column -->
    <ng-container matColumnDef="unit3">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Unit 03</th>
      <td mat-cell *matCellDef="let row">{{row.unit3}}</td>
    </ng-container>

    <!-- Student Column -->
    <ng-container matColumnDef="student">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Student</th>
      <td mat-cell *matCellDef="let row">{{row.student.fullName}}</td>
    </ng-container>

    <!-- Complain Column -->
    <ng-container matColumnDef="complain">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Complain</th>
      <td mat-cell *matCellDef="let row">
        {{row.complain}}
      </td>
    </ng-container>

    <ng-container matColumnDef="isComplainHandled">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Complain Handled</th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox [disabled]="true" [checked]="row.isComplainHandled" color="primary">

        </mat-checkbox>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectedItem=row"
      [class.primary-background-2]="selectedItem==row"></tr>
  </table>

  <mat-paginator #paginator [length]="dataSource?.total" [pageIndex]="0" [color]="'primary'"
    [pageSize]="dataSource?.pageSize" [hidePageSize]="true">
  </mat-paginator>
</div>
