<mat-toolbar color="primary" class="mat-elevation-z8">
  Marks
</mat-toolbar>
<div>
  <div class="left">
    <mat-form-field>
      <input matInput #search placeholder="search">
    </mat-form-field>
  </div>
  <table mat-table class="full-width-table" matSort aria-label="Elements">

    <!-- Mark Column -->
    <ng-container matColumnDef="mark">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Mark</th>
      <td mat-cell *matCellDef="let row">{{row.mark}}</td>
    </ng-container>

    <!-- Course abb Column -->
    <ng-container matColumnDef="course">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Course</th>
      <td mat-cell *matCellDef="let row">{{row.course.abb}}</td>
    </ng-container>

    <!-- Complain Column -->
    <ng-container matColumnDef="complain">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Complain</th>
      <td mat-cell *matCellDef="let row">
        <form (ngSubmit)="complain(row)">
          <mat-form-field>
            <textarea matInput name="complain" [(ngModel)]="row.complain">
            </textarea>
          </mat-form-field>
          &nbsp;
          <button mat-flat-button color="primary">complain</button>
        </form>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator [length]="dataSource?.total" [pageIndex]="0" [color]="'primary'"
    [pageSize]="dataSource?.pageSize" [hidePageSize]="true">
  </mat-paginator>
</div>
